<div class="fact-container">
  <h1>Facts</h1>
  <button mat-raised-button color="primary" (click)="getNewFact()">Get New Fact</button>

  @for (fact of facts.reverse(); track $index; let last = $last) {
    <mat-card class="fact-card" [ngClass]="{'new-fact': newFact && fact === newFact}">
      <mat-card-header>
        <b>Fact no.: {{ $count - $index }}</b>
      </mat-card-header>
      <mat-card-content>
        {{ fact.fact }} (Length: {{ fact.length }})
      </mat-card-content>
    </mat-card>
  }
</div>
